.img-round {
	border-radius: 10px;
}

.cw-btn {
	border: none;
	padding: 4px 16px;
	&[disable] {
		background-color: #c9c9c9;
	}
}

.cw-btn-round {
	border-radius: 50px;
}

.cw-btn-block {
	display: block;
	width: 100%;
	padding: 12px;
	text-align: center;
	font-size: 1.6rem;
}

.cw-btn-green {
	background-color: #63d4aa;
	color: #fff;
	&:hover {
		color: #fff;
	}
}

.cw-btn-green-200 {
	background-color: #4bc8ae;
	color: #fff;
	&:hover {
		color: #fff;
	}
}

.tag-white {
	border-radius: 50px;
	padding: 2px 8px;
	vertical-align: middle;
	background-color: #fff;
	color: #c1c1c6 !important;
	border: 1px solid #c1c1c6;
}

.cw-container {
	padding: 20px 15px;
}

.cw-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	.link-back {
		display: inline-block;
		width: 36px;
	}
	.title {
		font-size: 2rem;
		font-weight: 700;
		flex-grow: 8;
		text-align: center;
	}
	.img-action {
		display: inline-block;
		width: 24px;
		margin-right: 8px;
	}
	.txt-action {
		font-size: 1.6rem;
		color: #000;
	}
}

.cw-tab {
	justify-content: center;
	align-items: center;
	margin-bottom: 3rem;
	.tab-link {
		padding: 10px 16px;
		color: #c1c1c6;
		&.active {
			color: #000;
			border-bottom: 2px solid #00ccad;
		}
	}
}

footer {
	width: 100%;
	height: 49px;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #fff;
	box-shadow: 0px 2px 5px grey;
	.tab-item {
		width: 94px;
		padding: 0;
		padding-top: 2px;
		img {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}
		.tab-name {
			font-size: 10px;
			color: rgb(193, 193, 198);
			text-align: center;
		}
	}
}

.alert-modal {
	.modal-header {
		border: none;
		position: relative;
		.modal-title {
			font-size: 2rem;
			font-weight: 700;
			flex-grow: 1;
			text-align: center;
		}
		.close {
			position: absolute;
			top: 10px;
			right: 10px;
			padding: 0;
			margin: 0;
		}
	}
	.modal-content {
		width: 80%;
		margin: 0 auto;
		padding: 10px 15px;
		border-radius: 20px;
		font-size: 1.5rem;
	}

	.modal-content.horizontal {
		padding: 10px 0 0;
		.modal-footer {
			display: flex;
			justify-content: center;
			padding-top: 0;
			padding-bottom: 0;
			& > .col {
				text-align: center;
				border-right: 1px solid #dee2e6;
				margin: 0;
				&:last-child {
					border-right: 0;
				}
				* {
					display: inline-block;
					padding: 12px 0;
					color: #07ba9f;
				}
			}
		}
	}
}

.login-modal {
	&.fade {
		.modal-dialog {
			transform: translate(0, 100%);
		}
	}
	&.show {
		transition: opacity 0.15s;
		.modal-dialog {
			transform: translate(0, 0);
		}
	}
	.modal-dialog {
		position: fixed;
		bottom: 0;
		width: 100%;
		margin: 0;
	}
	.modal-content {
		border: none;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
	}
	.modal-header {
		position: relative;
		.modal-title {
			font-size: 1.5rem;
			font-weight: 700;
			flex-grow: 1;
			text-align: center;
		}
		.close {
			position: absolute;
			top: 10px;
			right: 10px;
			padding: 0;
			margin: 0;
		}
	}
}

.login-channel-row {
	text-align: center;
	margin-top: 4rem;
	margin-bottom: 2rem;
}

.hr-line {
	display: flex;
	justify-content: center;
	align-items: center;
	&:before,
	&:after {
		content: '';
		height: 1px;
		width: 80px;
		background-color: #e8e9ea;
	}
	span {
		display: inline-block;
		padding: 0 10px;
		color: #bcbdc2;
	}
}

.login-form {
	padding: 15px;
	padding-bottom: 8rem;
	.form-group {
		padding: 6px 0px;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #e8e9ea;
		input,
		select {
			border: none;
			margin-right: 4px;
		}
		input {
			padding: 0 6px;
			width: 110px;
		}
		.cw-btn {
			border-radius: 4px;
			padding: 4px 10px;
			&[disabled] {
				background-color: #dadadf;
			}
		}
	}
	.form-check {
		padding-left: 35px;
	}
	.form-check-label {
		color: #c3c3c7;
		margin-left: 6px;
		.dark {
			color: #2f2f2f;
		}
	}
	.cw-btn-block {
		margin: 4em 0;
	}
}

@media (min-width: 375px) {
	.login-modal {
		.login-form {
			.form-group {
				input {
					width: auto;
				}
			}
		}
	}
}

.config-modal {
	.controls {
		position: absolute;
		right: 4px;
		bottom: 3rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		padding: 0;
		margin: 0;
		pointer-events: auto;
	}
	.btn-circle {
		width: 82px;
		height: 82px;
		border-radius: 50%;
		border: 1px solid #666;
		box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
		background-color: #fff;
		margin: 10px;
		span {
			display: block;
			&.icon {
				font-size: 2rem;
				font-weight: 700;
				& > img {
					width: 26px;
				}
			}
		}
	}
	.btn-close {
		width: 32px;
		height: 32px;
		line-height: 32px;
		border-radius: 50%;
		border: 2px solid #fff;
		color: #fff;
		background-color: transparent;
		font-size: 2.5rem;
		padding: 0;
		span {
			position: relative;
			top: -4px;
		}
	}
}

.toaster {
	visibility: hidden;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 50%;
	background-color: #7a7a7a;
	opacity: 0;
	color: #fff;
	border-radius: 6px;
	padding: 10px 12px;
	transition: opacity 0.5s;
	&.active {
		visibility: visible;
		opacity: 1;
	}
}

.audio-player {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	&.inline {
		position: static;
		border-radius: 0;
		box-shadow: none;
	}
	.tracker-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 1rem 0 2rem;
		.time {
			color: #c1c1c6;
			flex-grow: 2;
			display: inline-block;
			text-align: center;
		}
		.slider {
			flex-grow: 6;
		}
	}
	.control-row {
		display: flex;
		justify-content: center;
		align-items: center;
		.btn-ctrl {
			border: none;
			background-color: #fff;
			width: 32px;
			margin: 0 10px;
		}
		.btn-play {
			width: 64px;
		}
	}
}

.dictionary-tip {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	background-color: #313131;
	color: #fff;
	border-radius: 10px;
	padding: 20px;
	font-size: 1.6rem;
	.img-action {
		display: inline-block;
		width: 16px;
		margin-right: 1rem;
	}
	.tip-header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 1rem;
		.title {
			font-family: 'Roboto', 'sans-serif';
			font-size: 2.5rem;
		}
		.img-action {
			width: 24px;
			margin-right: 0;
		}
	}
	.kk-row {
		margin-bottom: 1rem;
	}
	.meaning-row {
		margin-bottom: 1rem;
		.type {
			display: inline-block;
			width: 16px;
			margin-right: 16px;
		}
	}
	.sentence-row {
		display: flex;
		.right {
			width: calc(100% - 26px);
		}
	}
	.link-detail {
		color: #c1c1c6;
	}
}
