@import './config';
@import './component';
@import './mixin';

@include task-header;
@include task-list-container;

.header {
	padding-top: 180 / 375 * 100%;
}

.top-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0 2rem;
    .top-img {
        border-radius: 10px;
    }
	.btn-listen-play {
		margin: 2rem 0;
		border: none;
		background-color: #e3f8f4;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		img {
			width: 50%;
		}
	}
}

.option-row {
	.option-item {
		position: relative;
		&.correct,
		&.error {
			.icon-status {
				visibility: visible;
				opacity: 1;
			}
		}
		&.correct {
			.cw-btn {
				&:focus {
					background-color: #4bc8ae;
                    color: #fff;
                    border: 1px solid #4bc8ae;
				}
			}
		}
		&.error {
			.cw-btn {
				&:focus {
					background-color: #ed7c7c;
                    color: #fff;
                    border: 1px solid #ed7c7c;
				}
			}
		}
	}
	.cw-btn {
		border-radius: 6px;
		margin: 1rem 0;
		padding: 10px 20px;
		font-size: 1.5rem;
		background-color: #fff;
		color: #63d4aa;
        border: 1px solid #999;
        vertical-align: middle;
	}
	.icon-status {
        margin-left: 10px;
		width: 32px;
		visibility: hidden;
		opacity: 0;
		transition: all 0.3s;
	}
}

.explain-row {
    margin: 4rem 0;
    h1 {
        font-size: 2rem;
        margin: 2rem 0;
    }
    p {
        font-size: 1.6rem;
    }
}
