@charset "UTF-8";
html,
body {
  font-size: 10px;
}

body {
  font-family: '微軟正黑體', 'sans-serif';
}

body.bg-green-100 {
  background-color: #eaf6f3;
}

body.task-complete {
  background-image: url("../image/complete-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.row-pd-helf {
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.row-pd-helf div[class^='col'] {
  padding: 7.5px;
}

.modal.modal-static .modal-dialog {
  -webkit-transform: none;
          transform: none;
}

.img-round {
  border-radius: 10px;
}

.cw-btn {
  border: none;
  padding: 4px 16px;
}

.cw-btn:focus {
  outline: none;
}

.cw-btn[disable] {
  background-color: #c9c9c9;
}

.cw-btn-round {
  border-radius: 50px;
}

.cw-btn-block {
  display: block;
  width: 100%;
  padding: 12px;
  text-align: center;
}

.cw-btn-green {
  background-color: #63d4aa;
  color: #fff;
}

.cw-btn-green:hover {
  color: #fff;
}

.cw-btn-green-200 {
  background-color: #4bc8ae;
  color: #fff;
}

.cw-btn-green-200:hover {
  color: #fff;
}

.tag-white {
  border-radius: 50px;
  padding: 2px 8px;
  vertical-align: middle;
  background-color: #fff;
  color: #c1c1c6 !important;
  border: 1px solid #c1c1c6;
}

footer {
  width: 100%;
  height: 49px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 5px grey;
          box-shadow: 0px 2px 5px grey;
}

footer .tab-item {
  width: 94px;
  padding: 0;
  padding-top: 2px;
}

footer .tab-item img {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

footer .tab-item .tab-name {
  font-size: 10px;
  color: #c1c1c6;
  text-align: center;
}

.alert-modal .modal-header {
  border: none;
  position: relative;
}

.alert-modal .modal-header .modal-title {
  font-size: 2rem;
  font-weight: 700;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.alert-modal .modal-header .close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  margin: 0;
}

.alert-modal .modal-header .close:focus {
  outline: none;
}

.alert-modal .modal-content {
  width: 80%;
  margin: 0 auto;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 1.5rem;
}

.alert-modal .modal-footer.horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
}

.alert-modal .modal-footer.horizontal > .col {
  text-align: center;
  border-right: 1px solid #dee2e6;
  margin: 0;
}

.alert-modal .modal-footer.horizontal > .col:last-child {
  border-right: 0;
}

.alert-modal .modal-footer.horizontal > .col * {
  display: inline-block;
  padding: 12px 0;
  color: #07ba9f;
}

.login-modal.fade .modal-dialog {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.login-modal.show {
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.login-modal.show .modal-dialog {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.login-modal .modal-dialog {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
}

.login-modal .modal-content {
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.login-modal .modal-header {
  position: relative;
}

.login-modal .modal-header .modal-title {
  font-size: 1.5rem;
  font-weight: 700;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.login-modal .modal-header .close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  margin: 0;
}

.login-modal .modal-header .close:focus {
  outline: none;
}

.login-modal .icon-row {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.login-modal .hr-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-modal .hr-line:before, .login-modal .hr-line:after {
  content: '';
  height: 1px;
  width: 80px;
  background-color: #e8e9ea;
}

.login-modal .hr-line span {
  display: inline-block;
  padding: 0 10px;
  color: #bcbdc2;
}

.login-modal .login-form {
  padding: 15px;
  padding-bottom: 8rem;
}

.login-modal .login-form .form-group {
  padding: 6px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e8e9ea;
}

.login-modal .login-form .form-group input,
.login-modal .login-form .form-group select {
  border: none;
  margin-right: 4px;
}

.login-modal .login-form .form-group input:focus,
.login-modal .login-form .form-group select:focus {
  outline: none;
}

.login-modal .login-form .form-group input {
  padding: 0 6px;
}

.login-modal .login-form .form-group .cw-btn {
  border-radius: 4px;
  padding: 4px 10px;
}

.login-modal .login-form .form-group .cw-btn[disabled] {
  background-color: #dadadf;
}

.login-modal .login-form .form-check {
  padding-left: 35px;
}

.login-modal .login-form .form-check-label {
  color: #c3c3c7;
  margin-left: 6px;
}

.login-modal .login-form .form-check-label .dark {
  color: #2f2f2f;
}

.login-modal .login-form .cw-btn-block {
  margin: 4em 0;
}

.config-modal .controls {
  position: absolute;
  right: 4px;
  bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  pointer-events: auto;
}

.config-modal .btn-circle {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  border: 1px solid #666;
  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin: 10px;
}

.config-modal .btn-circle span {
  display: block;
}

.config-modal .btn-circle span.icon {
  font-size: 2rem;
  font-weight: 700;
}

.config-modal .btn-circle span.icon > img {
  width: 26px;
}

.config-modal .btn-close {
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  font-size: 2.5rem;
  padding: 0;
}

.config-modal .btn-close:focus {
  outline: none;
}

.config-modal .btn-close span {
  position: relative;
  top: -4px;
}

.toaster {
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 50%;
  background-color: #7a7a7a;
  opacity: 0;
  color: #fff;
  border-radius: 6px;
  padding: 10px 12px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.toaster.active {
  visibility: visible;
  opacity: 1;
}

.audio-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.audio-player .tracker-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0 2rem;
}

.audio-player .tracker-row .time {
  color: #c1c1c6;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: inline-block;
  text-align: center;
}

.audio-player .tracker-row .slider {
  -webkit-box-flex: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
}

.audio-player .control-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.audio-player .control-row .btn-ctrl {
  border: none;
  background-color: #fff;
  width: 32px;
}

.audio-player .control-row .btn-ctrl:focus {
  outline: none;
}

.audio-player .control-row .btn-play {
  width: 64px;
}

body {
  margin-bottom: 8rem;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.subtitle-row h2 {
  color: #2e2e2e;
}

.subtitle-row .show-more {
  color: #c1c1c6;
}

.swiper-slide {
  position: relative;
  height: 0;
  padding-top: 37.29167%;
}

.swiper-slide img {
  max-width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
}

.swiper-slide .cw-btn {
  position: absolute;
  left: 15px;
  bottom: 10%;
  color: #4866bf;
  background-color: #fff;
}

@media (min-width: 768px) {
  .swiper-slide .cw-btn {
    left: 30px;
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .swiper-slide .cw-btn {
    left: 45px;
    font-size: 2rem;
  }
}

.swiper-pagination {
  text-align: right;
  padding-right: 2rem;
}

.category-row {
  margin: 3rem 0;
}

.category-row .col {
  text-align: center;
}

.category-row img {
  width: 60%;
}

.category-row .name {
  font-size: 1rem;
  color: #2e2e2e;
  margin-top: 6px;
}

.hot-row {
  position: relative;
  margin-bottom: 1.6rem;
}

.hot-row img {
  border-radius: 10px;
}

.hot-row h3 {
  font-family: 'Roboto', 'sans-serif';
  color: #2e2e2e;
  font-weight: 700;
}

.hot-row p {
  color: #c1c1c6;
  margin-bottom: 6px;
}

.hot-row .tag-row {
  position: absolute;
  right: 7.5px;
  bottom: 7.5px;
}

.ribbon-link {
  position: relative;
  display: block;
  color: #2e2e2e;
  background-image: url("../image/imgbacktest.png");
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 1.4rem;
  width: 100%;
  padding: 8px 12px;
  margin: 20px 0;
  border-radius: 10px;
}

.ribbon-link:hover {
  color: #2e2e2e;
}

.ribbon-link:after {
  content: '\003e';
  position: absolute;
  right: 16px;
}

.learn-row .learn-item {
  position: relative;
  display: block;
}

.learn-row .learn-item img {
  border-radius: 10px;
}

.learn-row .learn-item .class-name {
  position: absolute;
  text-align: center;
  right: 0;
  bottom: 10px;
  left: 0;
  color: #fff;
}

.learn-row .intro {
  color: #999;
  text-align: right;
  padding: 4px 0;
}

.lind-ad {
  display: block;
  margin-top: 2em;
}

.alert-modal .btn-leave {
  color: #63d4aa;
}
/*# sourceMappingURL=index.css.map */