@charset "UTF-8";
html,
body {
  font-size: 10px;
}

body {
  font-family: '微軟正黑體', 'sans-serif';
}

body.bg-green-100 {
  background-color: #eaf6f3;
}

body.task-complete {
  background-image: url("../image/complete-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button:focus,
select:focus,
input:focus,
textarea:focus {
  outline: none;
}

img {
  vertical-align: middle;
}

.row-pd-helf {
  margin-left: -4px;
  margin-right: -4px;
}

.row-pd-helf div[class^='col'] {
  padding: 4px;
}

@media (min-width: 375px) {
  .row-pd-helf {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
  .row-pd-helf div[class^='col'] {
    padding: 7.5px;
  }
}

.modal.modal-static .modal-dialog {
  -webkit-transform: none;
          transform: none;
}

.img-round {
  border-radius: 10px;
}

.cw-btn {
  border: none;
  padding: 4px 16px;
}

.cw-btn[disable] {
  background-color: #c9c9c9;
}

.cw-btn-round {
  border-radius: 50px;
}

.cw-btn-block {
  display: block;
  width: 100%;
  padding: 12px;
  text-align: center;
  font-size: 1.6rem;
}

.cw-btn-green {
  background-color: #63d4aa;
  color: #fff;
}

.cw-btn-green:hover {
  color: #fff;
}

.cw-btn-green-200 {
  background-color: #4bc8ae;
  color: #fff;
}

.cw-btn-green-200:hover {
  color: #fff;
}

.tag-white {
  border-radius: 50px;
  padding: 2px 8px;
  vertical-align: middle;
  background-color: #fff;
  color: #c1c1c6 !important;
  border: 1px solid #c1c1c6;
}

.cw-container {
  padding: 20px 15px;
}

.cw-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.cw-nav .link-back {
  display: inline-block;
  width: 36px;
}

.cw-nav .title {
  font-size: 2rem;
  font-weight: 700;
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
  text-align: center;
}

.cw-nav .img-action {
  display: inline-block;
  width: 24px;
  margin-right: 8px;
}

footer {
  width: 100%;
  height: 49px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 5px grey;
          box-shadow: 0px 2px 5px grey;
}

footer .tab-item {
  width: 94px;
  padding: 0;
  padding-top: 2px;
}

footer .tab-item img {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

footer .tab-item .tab-name {
  font-size: 10px;
  color: #c1c1c6;
  text-align: center;
}

.alert-modal .modal-header {
  border: none;
  position: relative;
}

.alert-modal .modal-header .modal-title {
  font-size: 2rem;
  font-weight: 700;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.alert-modal .modal-header .close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  margin: 0;
}

.alert-modal .modal-content {
  width: 80%;
  margin: 0 auto;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 1.5rem;
}

.alert-modal .modal-footer.horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
}

.alert-modal .modal-footer.horizontal > .col {
  text-align: center;
  border-right: 1px solid #dee2e6;
  margin: 0;
}

.alert-modal .modal-footer.horizontal > .col:last-child {
  border-right: 0;
}

.alert-modal .modal-footer.horizontal > .col * {
  display: inline-block;
  padding: 12px 0;
  color: #07ba9f;
}

.login-modal.fade .modal-dialog {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.login-modal.show {
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.login-modal.show .modal-dialog {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.login-modal .modal-dialog {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
}

.login-modal .modal-content {
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.login-modal .modal-header {
  position: relative;
}

.login-modal .modal-header .modal-title {
  font-size: 1.5rem;
  font-weight: 700;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.login-modal .modal-header .close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  margin: 0;
}

.login-modal .icon-row {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.login-modal .hr-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-modal .hr-line:before, .login-modal .hr-line:after {
  content: '';
  height: 1px;
  width: 80px;
  background-color: #e8e9ea;
}

.login-modal .hr-line span {
  display: inline-block;
  padding: 0 10px;
  color: #bcbdc2;
}

.login-modal .login-form {
  padding: 15px;
  padding-bottom: 8rem;
}

.login-modal .login-form .form-group {
  padding: 6px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e8e9ea;
}

.login-modal .login-form .form-group input,
.login-modal .login-form .form-group select {
  border: none;
  margin-right: 4px;
}

.login-modal .login-form .form-group input {
  padding: 0 6px;
  width: 110px;
}

.login-modal .login-form .form-group .cw-btn {
  border-radius: 4px;
  padding: 4px 10px;
}

.login-modal .login-form .form-group .cw-btn[disabled] {
  background-color: #dadadf;
}

.login-modal .login-form .form-check {
  padding-left: 35px;
}

.login-modal .login-form .form-check-label {
  color: #c3c3c7;
  margin-left: 6px;
}

.login-modal .login-form .form-check-label .dark {
  color: #2f2f2f;
}

.login-modal .login-form .cw-btn-block {
  margin: 4em 0;
}

@media (min-width: 375px) {
  .login-modal .login-form .form-group input {
    width: auto;
  }
}

.config-modal .controls {
  position: absolute;
  right: 4px;
  bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  pointer-events: auto;
}

.config-modal .btn-circle {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  border: 1px solid #666;
  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin: 10px;
}

.config-modal .btn-circle span {
  display: block;
}

.config-modal .btn-circle span.icon {
  font-size: 2rem;
  font-weight: 700;
}

.config-modal .btn-circle span.icon > img {
  width: 26px;
}

.config-modal .btn-close {
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  font-size: 2.5rem;
  padding: 0;
}

.config-modal .btn-close span {
  position: relative;
  top: -4px;
}

.toaster {
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 50%;
  background-color: #7a7a7a;
  opacity: 0;
  color: #fff;
  border-radius: 6px;
  padding: 10px 12px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.toaster.active {
  visibility: visible;
  opacity: 1;
}

.audio-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.audio-player .tracker-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0 2rem;
}

.audio-player .tracker-row .time {
  color: #c1c1c6;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: inline-block;
  text-align: center;
}

.audio-player .tracker-row .slider {
  -webkit-box-flex: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
}

.audio-player .control-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.audio-player .control-row .btn-ctrl {
  border: none;
  background-color: #fff;
  width: 32px;
}

.audio-player .control-row .btn-play {
  width: 64px;
}

.dictionary-tip {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  background-color: #313131;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  font-size: 1.6rem;
}

.dictionary-tip .img-action {
  display: inline-block;
  width: 16px;
  margin-right: 1rem;
}

.dictionary-tip .tip-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1rem;
}

.dictionary-tip .tip-header .title {
  font-family: 'Roboto', 'sans-serif';
  font-size: 2.5rem;
}

.dictionary-tip .tip-header .img-action {
  width: 24px;
  margin-right: 0;
}

.dictionary-tip .kk-row {
  margin-bottom: 1rem;
}

.dictionary-tip .meaning-row {
  margin-bottom: 1rem;
}

.dictionary-tip .meaning-row .type {
  display: inline-block;
  width: 16px;
  margin-right: 16px;
}

.dictionary-tip .sentence-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dictionary-tip .sentence-row .right {
  width: calc(100% - 26px);
}

.dictionary-tip .link-detail {
  color: #c1c1c6;
}

.header {
  position: relative;
  height: 0;
  padding-top: 77.19298%;
}

.header > img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.header .header-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 26px;
}

.header .header-content .back-row {
  margin-bottom: 1rem;
}

.header .header-content .back-row .link-back {
  display: inline-block;
  width: 32px;
}

.header .header-content h1 {
  font-family: 'Roboto', 'sans-serif';
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1;
}

.header .header-content .tag-row {
  margin-top: 2rem;
}

.header .header-content .tag-row .tag-white {
  color: #4a4a4a !important;
}

@media (min-width: 375px) {
  .header .header-content {
    padding: 30px;
  }
  .header .header-content .back-row {
    margin-bottom: 2rem;
  }
  .header .header-content .back-row .link-back {
    display: inline-block;
    width: 36px;
  }
  .header .header-content h1 {
    font-size: 3rem;
  }
}

.task-list-container {
  position: relative;
  top: -15px;
  padding: 20px;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.task-list-container .task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task-list-container .task-list li {
  padding: 20px 15px;
}

.task-list-container .link-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task-list-container .link-task.active .img-wrap {
  background-color: #e3f8f4;
  border: 1px solid #e3f8f4;
}

.task-list-container .link-task.active img.like {
  visibility: visible;
}

.task-list-container .link-task.active .status {
  color: #82d8c6;
}

.task-list-container .link-task .img-wrap {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  text-align: center;
  margin-right: 20px;
}

.task-list-container .link-task img.reward {
  width: 60%;
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.task-list-container .link-task img.like {
  width: 20px;
  vertical-align: top;
  visibility: hidden;
}

.task-list-container .link-task .title {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.task-list-container .link-task .status {
  font-size: 1.2rem;
  color: #9c9c9c;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (min-width: 375px) {
  .task-list-container .link-task .img-wrap {
    width: 64px;
    height: 64px;
  }
  .task-list-container .link-task img.like {
    width: 26px;
  }
  .task-list-container .link-task .title {
    font-size: 2rem;
  }
  .task-list-container .link-task .status {
    font-size: 1.6rem;
  }
}

.header {
  padding-top: 48%;
}

.task-list-container .nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.task-list-container .nav .tab-link {
  padding: 10px 16px;
  color: #c1c1c6;
}

.task-list-container .nav .tab-link.active {
  color: #000;
  border-bottom: 2px solid #00ccad;
}

.top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0 2rem;
}

.top-row .top-img {
  border-radius: 10px;
}

.top-row .btn-listen-play {
  margin: 2rem 0;
  border: none;
  background-color: #e3f8f4;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.top-row .btn-listen-play img {
  width: 50%;
}

.option-row .option-item {
  position: relative;
}

.option-row .option-item.correct .icon-status, .option-row .option-item.error .icon-status {
  visibility: visible;
  opacity: 1;
}

.option-row .option-item.correct .cw-btn:focus {
  background-color: #4bc8ae;
  color: #fff;
  border: 1px solid #4bc8ae;
}

.option-row .option-item.error .cw-btn:focus {
  background-color: #ed7c7c;
  color: #fff;
  border: 1px solid #ed7c7c;
}

.option-row .cw-btn {
  border-radius: 6px;
  margin: 1rem 0;
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: #fff;
  color: #63d4aa;
  border: 1px solid #999;
  vertical-align: middle;
}

.option-row .icon-status {
  margin-left: 10px;
  width: 32px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.explain-row {
  margin: 4rem 0;
}

.explain-row h1 {
  font-size: 2rem;
  margin: 2rem 0;
}

.explain-row p {
  font-size: 1.6rem;
}
/*# sourceMappingURL=listen.css.map */