@charset "UTF-8";
html,
body {
  font-size: 10px;
}

body {
  font-family: '微軟正黑體', 'sans-serif';
}

body.bg-green-100 {
  background-color: #eaf6f3;
}

body.task-complete {
  background-image: url("../image/complete-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button:focus,
select:focus,
input:focus,
textarea:focus {
  outline: none;
}

img {
  vertical-align: middle;
}

.row-pd-helf {
  margin-left: -4px;
  margin-right: -4px;
}

.row-pd-helf div[class^='col'] {
  padding: 4px;
}

@media (min-width: 375px) {
  .row-pd-helf {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
  .row-pd-helf div[class^='col'] {
    padding: 7.5px;
  }
}

.modal.modal-static .modal-dialog {
  -webkit-transform: none;
          transform: none;
}

.img-round {
  border-radius: 10px;
}

.cw-btn {
  border: none;
  padding: 4px 16px;
}

.cw-btn[disable] {
  background-color: #c9c9c9;
}

.cw-btn-round {
  border-radius: 50px;
}

.cw-btn-block {
  display: block;
  width: 100%;
  padding: 12px;
  text-align: center;
  font-size: 1.6rem;
}

.cw-btn-green {
  background-color: #63d4aa;
  color: #fff;
}

.cw-btn-green:hover {
  color: #fff;
}

.cw-btn-green-200 {
  background-color: #4bc8ae;
  color: #fff;
}

.cw-btn-green-200:hover {
  color: #fff;
}

.tag-white {
  border-radius: 50px;
  padding: 2px 8px;
  vertical-align: middle;
  background-color: #fff;
  color: #c1c1c6 !important;
  border: 1px solid #c1c1c6;
}

.cw-container {
  padding: 20px 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .cw-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .cw-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .cw-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .cw-container {
    max-width: 1140px;
  }
}

.cw-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.cw-nav .link-back {
  display: inline-block;
  width: 36px;
}

.cw-nav .title {
  font-size: 2rem;
  font-weight: 700;
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
  text-align: center;
}

.cw-nav .img-action {
  display: inline-block;
  width: 24px;
  margin-right: 8px;
}

.cw-nav .txt-action {
  font-size: 1.6rem;
  color: #000;
}

.cw-tab {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.cw-tab .tab-link {
  padding: 10px 16px;
  color: #c1c1c6;
}

.cw-tab .tab-link.active {
  color: #000;
  border-bottom: 2px solid #00ccad;
}

footer {
  width: 100%;
  height: 49px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 5px grey;
          box-shadow: 0px 2px 5px grey;
}

footer .tab-item {
  width: 94px;
  padding: 0;
  padding-top: 2px;
}

footer .tab-item img {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

footer .tab-item .tab-name {
  font-size: 10px;
  color: #c1c1c6;
  text-align: center;
}

.alert-modal .modal-header {
  border: none;
  position: relative;
}

.alert-modal .modal-header .modal-title {
  font-size: 2rem;
  font-weight: 700;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.alert-modal .modal-header .close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  margin: 0;
}

.alert-modal .modal-content {
  width: 80%;
  margin: 0 auto;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 1.5rem;
}

.alert-modal .modal-content.horizontal {
  padding: 10px 0 0;
}

.alert-modal .modal-content.horizontal .modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
}

.alert-modal .modal-content.horizontal .modal-footer > .col {
  text-align: center;
  border-right: 1px solid #dee2e6;
  margin: 0;
}

.alert-modal .modal-content.horizontal .modal-footer > .col:last-child {
  border-right: 0;
}

.alert-modal .modal-content.horizontal .modal-footer > .col * {
  display: inline-block;
  padding: 12px 0;
  color: #07ba9f;
}

.bottom-modal.fade .modal-dialog {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.bottom-modal.show {
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.bottom-modal.show .modal-dialog {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.bottom-modal .modal-dialog {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
}

.bottom-modal .modal-content {
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.bottom-modal .modal-header {
  position: relative;
}

.bottom-modal .modal-header .modal-title {
  font-size: 1.5rem;
  font-weight: 700;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.bottom-modal .modal-header .close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  margin: 0;
}

.bottom-modal .modal-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom-modal .modal-footer .cw-btn {
  padding: 1rem 3rem;
  margin: 0 1rem;
}

@media (min-width: 576px) {
  .bottom-modal .modal-dialog {
    max-width: 100%;
  }
}

.login-channel-row {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.hr-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hr-line:before, .hr-line:after {
  content: '';
  height: 1px;
  width: 80px;
  background-color: #e8e9ea;
}

.hr-line span {
  display: inline-block;
  padding: 0 10px;
  color: #bcbdc2;
}

.login-form {
  padding: 15px;
  padding-bottom: 8rem;
}

.login-form .form-group {
  padding: 6px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e8e9ea;
}

.login-form .form-group input,
.login-form .form-group select {
  border: none;
  margin-right: 4px;
}

.login-form .form-group input {
  padding: 0 6px;
  width: 110px;
}

.login-form .form-group .cw-btn {
  border-radius: 4px;
  padding: 4px 10px;
}

.login-form .form-group .cw-btn[disabled] {
  background-color: #dadadf;
}

.login-form .form-check {
  padding-left: 35px;
}

.login-form .form-check-label {
  color: #c3c3c7;
  margin-left: 6px;
}

.login-form .form-check-label .dark {
  color: #2f2f2f;
}

.login-form .cw-btn-block {
  margin: 4em 0;
}

@media (min-width: 375px) {
  .login-form .form-group input {
    width: auto;
  }
}

.config-modal .controls {
  position: absolute;
  right: 4px;
  bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  pointer-events: auto;
}

.config-modal .btn-circle {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  border: 1px solid #666;
  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin: 10px;
}

.config-modal .btn-circle span {
  display: block;
}

.config-modal .btn-circle span.icon {
  font-size: 2rem;
  font-weight: 700;
}

.config-modal .btn-circle span.icon > img {
  width: 26px;
}

.config-modal .btn-close {
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  font-size: 2.5rem;
  padding: 0;
}

.config-modal .btn-close span {
  position: relative;
  top: -4px;
}

.toaster {
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 50%;
  background-color: #7a7a7a;
  opacity: 0;
  color: #fff;
  border-radius: 6px;
  padding: 10px 12px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.toaster.active {
  visibility: visible;
  opacity: 1;
}

.audio-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.audio-player.inline {
  position: static;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.audio-player .tracker-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0 2rem;
}

.audio-player .tracker-row .time {
  color: #c1c1c6;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: inline-block;
  text-align: center;
}

.audio-player .tracker-row .slider {
  -webkit-box-flex: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
}

.audio-player .control-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.audio-player .control-row .btn-ctrl {
  border: none;
  background-color: #fff;
  width: 32px;
  margin: 0 10px;
}

.audio-player .control-row .btn-play {
  width: 64px;
}

.dictionary-tip {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  background-color: #313131;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  font-size: 1.6rem;
}

.dictionary-tip .img-action {
  display: inline-block;
  width: 16px;
  margin-right: 1rem;
}

.dictionary-tip .tip-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1rem;
}

.dictionary-tip .tip-header .title {
  font-family: 'Roboto', 'sans-serif';
  font-size: 2.5rem;
}

.dictionary-tip .tip-header .img-action {
  width: 24px;
  margin-right: 0;
}

.dictionary-tip .kk-row {
  margin-bottom: 1rem;
}

.dictionary-tip .meaning-row {
  margin-bottom: 1rem;
}

.dictionary-tip .meaning-row .type {
  display: inline-block;
  width: 16px;
  margin-right: 16px;
}

.dictionary-tip .sentence-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dictionary-tip .sentence-row .right {
  width: calc(100% - 26px);
}

.dictionary-tip .link-detail {
  color: #c1c1c6;
}

.highlight {
  color: #00b99d;
  font-weight: 700;
}

.underline {
  position: relative;
}

.underline:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 6px;
  background-color: rgba(0, 185, 157, 0.4);
}

.underline.orange:after {
  background-color: rgba(251, 205, 129, 0.8);
}

.header {
  position: relative;
  height: 0;
  padding-top: 77.19298%;
}

.header > img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.header .header-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 26px;
}

.header .header-content .back-row {
  margin-bottom: 1rem;
}

.header .header-content .back-row .link-back {
  display: inline-block;
  width: 32px;
}

.header .header-content h1 {
  font-family: 'Roboto', 'sans-serif';
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1;
}

.header .header-content .tag-row {
  margin-top: 2rem;
}

.header .header-content .tag-row .tag-white {
  color: #4a4a4a !important;
}

@media (min-width: 375px) {
  .header .header-content {
    padding: 30px;
  }
  .header .header-content .back-row {
    margin-bottom: 2rem;
  }
  .header .header-content .back-row .link-back {
    display: inline-block;
    width: 36px;
  }
  .header .header-content h1 {
    font-size: 3rem;
  }
}

.task-list-container {
  position: relative;
  top: -15px;
  padding: 20px;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.task-list-container .task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task-list-container .task-list li {
  padding: 20px 15px;
}

.task-list-container .link-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task-list-container .link-task.active .img-wrap {
  background-color: #e3f8f4;
  border: 1px solid #e3f8f4;
}

.task-list-container .link-task.active img.like {
  visibility: visible;
}

.task-list-container .link-task.active .status {
  color: #82d8c6;
}

.task-list-container .link-task .img-wrap {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  text-align: center;
  margin-right: 20px;
}

.task-list-container .link-task img.reward {
  width: 60%;
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.task-list-container .link-task img.like {
  width: 20px;
  vertical-align: top;
  visibility: hidden;
}

.task-list-container .link-task .title {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.task-list-container .link-task .status {
  font-size: 1.2rem;
  color: #9c9c9c;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (min-width: 375px) {
  .task-list-container .link-task .img-wrap {
    width: 64px;
    height: 64px;
  }
  .task-list-container .link-task img.like {
    width: 26px;
  }
  .task-list-container .link-task .title {
    font-size: 2rem;
  }
  .task-list-container .link-task .status {
    font-size: 1.6rem;
  }
}

.task-container h1,
.article-container h1 {
  font-family: 'Roboto', 'sans-serif';
  font-size: 2.6rem;
  font-weight: 700;
}

.task-container .tag-row,
.article-container .tag-row {
  margin: 16px 0;
}

.task-container .article-content.hide,
.article-container .article-content.hide {
  height: 500px;
  overflow: hidden;
}

.task-container .article-content .icon-comment,
.article-container .article-content .icon-comment {
  width: 24px;
}

.task-container p,
.article-container p {
  font-family: 'Roboto', 'sans-serif';
  line-height: 2;
  font-size: 1.8rem;
  margin: 2rem 0;
}

.task-container .restrict-block,
.article-container .restrict-block {
  position: relative;
  margin-top: -200px;
  padding: 16rem 0 2.6rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(70%, #fff));
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, #fff 70%);
}

.task-container .restrict-toast,
.article-container .restrict-toast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #ffb44d;
  color: #fff;
  font-size: 1rem;
}

.task-container .restrict-toast .link-upgrade,
.article-container .restrict-toast .link-upgrade {
  color: #fff;
}

@media (min-width: 375px) {
  .task-container .restrict-toast,
  .article-container .restrict-toast {
    font-size: 1.4rem;
  }
}

.article-container {
  padding-bottom: 18rem;
}

.word-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 5rem;
  font-size: 1.6rem;
}

.word-list li {
  padding: 2rem 25px;
}

.word-list li:nth-child(even) {
  background-color: #f5f5f5;
}

.word-list .title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.word-list .title-row .prefix,
.word-list .title-row .word {
  font-weight: 700;
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
  text-align: center;
  margin-right: 10px;
}

.word-list .title-row .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90px;
}

.word-list .title-row .img-action {
  width: 24px;
}

.word-list .kk-row {
  padding-left: 2.6rem;
  color: #999;
  font-size: 1.4rem;
  margin-bottom: 8px;
}

.word-list .meaning-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2.6rem;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.word-list .meaning-row .type {
  display: inline-block;
  text-align: center;
  width: 32px;
  padding: 0 4px;
}

.word-list .sentence-row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 1.5rem;
  padding-left: 2.6rem;
}

.word-list .sentence-row:before {
  content: '';
  position: absolute;
  top: 0;
  left: 2.6rem;
  display: inline-block;
  width: 90%;
  height: 1px;
  background-color: #e5e5e5;
}

.word-list .sentence-row .icon-speaker {
  width: 32px;
  padding: 0 4px;
}

.word-list .sentence-row .hant {
  color: #999;
  margin-top: 6px;
}

.word-card {
  padding: 60px 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #fff;
  text-align: center;
}

.word-card h1 {
  font-family: 'Roboto', 'sans-serif';
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
}

.word-card .kk-row {
  text-align: center;
  color: #999;
  font-size: 1rem;
  margin-bottom: 5rem;
}

.word-card .kk-row .cw-btn {
  background-color: transparent;
  padding: 0 4px;
}

.word-card .kk-row .icon-speaker {
  width: 32px;
}

.word-card .option-row {
  text-align: center;
}

.word-card .option-row .option-item {
  position: relative;
  width: 50%;
  margin: 0 auto;
}

.word-card .option-row .option-item.correct .icon-status, .word-card .option-row .option-item.error .icon-status {
  visibility: visible;
  opacity: 1;
}

.word-card .option-row .option-item.correct .cw-btn:focus {
  background-color: #4bc8ae;
  color: #fff;
  border: 1px solid #4bc8ae;
}

.word-card .option-row .option-item.error .cw-btn:focus {
  background-color: #ed7c7c;
  color: #fff;
  border: 1px solid #ed7c7c;
}

.word-card .option-row .cw-btn {
  display: block;
  width: 100%;
  border-radius: 6px;
  margin: 1rem 0;
  padding: 10px 40px;
  font-size: 1.5rem;
  background-color: #fff;
  color: #63d4aa;
  border: 1px solid #999;
}

.word-card .option-row .icon-status {
  position: absolute;
  right: -48px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 32px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.word-card .link-find {
  display: inline-block;
  margin-top: 6rem;
  margin-bottom: 2rem;
  color: #4bc8ae;
  font-size: 1.6rem;
}

.word-card .btn-next {
  width: 90%;
  margin: 0 auto;
}

.word-card .find-container h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 3rem 0 1.6rem;
}

.word-card .find-container h2 {
  font-weight: 700;
}

.word-card .find-container .kk-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c1c1c6;
}

.word-card .find-container .kk-row .icon-speaker {
  width: 32px;
}

.word-card .find-container .meaning-list {
  list-style-type: none;
  margin: 2rem 0;
  padding: 0;
}

.word-card .find-container .meaning-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.word-card .find-container .meaning-list li .type {
  display: inline-block;
  text-align: center;
  width: 32px;
  padding: 0 4px;
  margin-right: 1rem;
}

.word-card .find-container .example-list {
  list-style-type: none;
  padding: 0;
  font-size: 1.6rem;
}

.word-card .find-container .example-list .sentence-row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 1.5rem;
  padding-left: 2.6rem;
}

.word-card .find-container .example-list .sentence-row:before {
  content: '';
  position: absolute;
  top: 0;
  left: 2.6rem;
  display: inline-block;
  width: 90%;
  height: 1px;
  background-color: #e5e5e5;
}

.word-card .find-container .example-list .sentence-row .icon-speaker {
  width: 32px;
  padding: 0 4px;
}

.word-card .find-container .example-list .sentence-row .hant {
  color: #999;
  margin-top: 6px;
}

.word-card .find-container .example-list .sentence-row {
  padding-left: 0;
}

.word-card .find-container .example-list .sentence-row:before {
  height: 0;
}

.word-card .find-container {
  padding: 20px;
  text-align: left;
}

.complete-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  border-radius: 20px;
  padding: 10rem 0;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
}

.complete-card .circle-wrap {
  position: absolute;
  top: -48px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 1rem;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background-color: #fff;
}

.complete-card .content {
  margin-bottom: 6rem;
}

.complete-card .content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 2rem 0;
  text-align: center;
}

.complete-card .content h2 {
  font-size: 2rem;
  text-align: center;
}

.complete-card .cw-btn {
  position: absolute;
  bottom: 2rem;
  width: calc(100% - 4rem);
  font-size: 1.5rem;
}

.find-container h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 3rem 0 1.6rem;
}

.find-container h2 {
  font-weight: 700;
}

.find-container .kk-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c1c1c6;
}

.find-container .kk-row .icon-speaker {
  width: 32px;
}

.find-container .meaning-list {
  list-style-type: none;
  margin: 2rem 0;
  padding: 0;
}

.find-container .meaning-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.find-container .meaning-list li .type {
  display: inline-block;
  text-align: center;
  width: 32px;
  padding: 0 4px;
  margin-right: 1rem;
}

.find-container .example-list {
  list-style-type: none;
  padding: 0;
  font-size: 1.6rem;
}

.find-container .example-list .sentence-row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 1.5rem;
  padding-left: 2.6rem;
}

.find-container .example-list .sentence-row:before {
  content: '';
  position: absolute;
  top: 0;
  left: 2.6rem;
  display: inline-block;
  width: 90%;
  height: 1px;
  background-color: #e5e5e5;
}

.find-container .example-list .sentence-row .icon-speaker {
  width: 32px;
  padding: 0 4px;
}

.find-container .example-list .sentence-row .hant {
  color: #999;
  margin-top: 6px;
}

.find-container .example-list .sentence-row {
  padding-left: 0;
}

.find-container .example-list .sentence-row:before {
  height: 0;
}

.alert-modal .modal-content {
  padding: 10px 0 0;
}

.alert-modal .cw-btn-block {
  background-color: #fff;
  color: #0dbba1;
  font-size: 1.8rem;
  padding: 6px;
  margin: 0;
}

.teacher-card {
  padding: 20px;
  margin: 2rem 0;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.teacher-card img.avatar {
  width: 100%;
  border-radius: 50%;
}

.teacher-card h2 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.teacher-card .edu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #9e9e9e;
}

.teacher-card .edu-list li {
  font-size: 1.4rem;
  margin: 4px 0;
}

.ask-modal .modal-header {
  position: relative;
}

.ask-modal .modal-header .modal-title {
  font-size: 1.5rem;
  font-weight: 700;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.ask-modal .modal-header .close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  margin: 0;
}

.ask-modal .modal-footer {
  position: relative;
  display: block;
}

.ask-modal .modal-content {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.ask-modal .modal-content .input-ask {
  width: 100%;
  border: none;
  resize: none;
}

.ask-modal .modal-content .queue-row {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #7f7f7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.ask-modal .modal-content .queue-row .img-wrap {
  position: relative;
  width: 25%;
  padding: 4px;
}

.ask-modal .modal-content .queue-row .img-wrap img {
  border-radius: 10px;
  width: 100%;
}

.ask-modal .modal-content .queue-row .img-wrap .close {
  position: absolute;
  right: -4px;
  top: -4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 1;
}

.ask-modal .modal-content .ctrl-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ask-modal .modal-content .ctrl-row .btn-file {
  border: none;
  background-color: transparent;
  width: 32px;
  padding: 0;
}

.ask-modal .modal-content .ctrl-row .cw-btn {
  background-color: #d8d8d8;
  color: #fff;
}

.ask-modal .modal-content .gallary-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ask-modal .modal-content .gallary-row .gallary-wrap {
  position: relative;
  width: 25%;
  padding: 2px;
  text-align: center;
}

.ask-modal .modal-content .gallary-row .gallary-wrap img {
  border-radius: 8px;
  width: 100%;
}

.ask-modal .modal-content .gallary-row .gallary-wrap .gallery {
  position: relative;
  display: block;
}

.ask-modal .modal-content .gallary-row .gallary-wrap .gallery:before {
  content: '';
  position: absolute;
  right: 9px;
  top: 9px;
  width: 9px;
  height: 7px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: 1;
  opacity: 0;
}

.ask-modal .modal-content .gallary-row .gallary-wrap .gallery:after {
  content: '';
  position: absolute;
  right: 4px;
  top: 4px;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.ask-modal .modal-content .gallary-row .gallary-wrap .gallery.active:before {
  opacity: 1;
}

.ask-modal .modal-content .gallary-row .gallary-wrap .gallery.active:after {
  background-color: #00ccad;
}
/*# sourceMappingURL=task.css.map */